.hero {
	padding: 50px 0;
	display: flex;
	align-items: flex-end;
	background-repeat: no-repeat;
	object-fit: cover;
	padding: 0 30px;


}
.left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	line-height: 1.1;
}
.left h2 {
	color: var(--black);
	font-size: 26px;
	font-weight: 600;
}
.left p {
	color: var(--black);
	font-size: 80px;
	font-weight: 700;
}
.hend_icon {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 60px;
	height: 60;
}
.latest_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 310px;
	height: 70px;
	border-radius: 75px;
	margin-top: 30px;
	background: var(--red);
	color: var(--white);
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
}
.latest_btn:hover {
	font-size: 17.5px;
	background: var(--red-hover);
	box-shadow: 1px ;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.right {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.right img {
	object-fit: cover;
	width: 642px;
	height: 465px;
	background-repeat: no-repeat;
}