.newsletter {
	max-width: 1280px;
	padding: 150px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	background-image: linear-gradient(
		to right bottom,
		#ffffff,
		#efefef,
		#dfdfdf,
		#cfcfcf,
		#bfbfbf,
		#bfbfbf,
		#bfbfbf,
		#bfbfbf,
		#cfcfcf,
		#dfdfdf,
		#efefef,
		#ffffff
	);
}
.newsletter h1 {
	font-size: 60px;
	color: var(--grey);
	font-weight: 600;
}
.newsletter p {
	font-size: 26px;
	font-weight: 500;
	color: var(--grey);
}
.newsletter div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: var(--black);
	max-width: 730px;
	height: 70px;
	border-radius: 80px;
}
.newsletter input::placeholder {
	color: var(--white);
}
.newsletter input {
	background-color: var(--black);
	width: 500px;
	margin-left: 30px;
	border: none;
	outline: none;
	color: var(--white);
	font-size: 16px;
}
.btn {
	background: var(--green);
	color: var(--black);
	width: 210px;
	height: 70px;
	border-radius: 80px;
	font-size: 18px;
	font-weight: 400;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border: 1px solid var(--black);
}
.btn:hover {
	background: var(--green-hover);
}
@media only screen and (max-width: 1279px) {
	.newsletter h1 {
		font-size: 50px;
	}
	.newsletter p {
		font-size: 20px;
	}
}
@media only screen and (max-width: 991px) {
	.newsletter input {
		width: 400px;
	}
	.newsletter {
		padding: 70px 50px;
	}
}
@media only screen and (max-width: 765px) {
	.newsletter input {
		width: 300px;
	}
	.newsletter {
		padding: 50px 20px;
		text-align: center;
	}
	.newsletter h1 {
		font-size: 40px;
	}
	.newsletter p {
		font-size: 18px;
	}
}
@media only screen and (max-width: 599px) {
	.newsletter h1 {
		font-size: 40px;
	}
	.newsletter p {
		font-size: 20px;
		font-weight: 500;
		color: var(--grey);
	}
	.newsletter {
		padding: 30px 10px;
	}
	.newsletter div {
		height: 60px;
	}
	.newsletter input {
		width: 160px;
		font-size: 13px;
	}
	.btn {
		width: 130px;
		height: 60px;
		font-size: 13px;
	}
}
@media only screen and (max-width: 419px) {
	.newsletter h1 {
		font-size: 28px;
	}
	.newsletter p {
		font-size: 12px;
	}
	.newsletter div {
		height: 40px;
	}
	.newsletter input {
		width: 130px;
		font-size: 12px;
	}
	.btn {
		width: 90px;
		height: 40px;
		font-size: 12px;
	}
}
