
.navbar {
	max-width: 1280px;
	display: flex;
	justify-content: space-between;
	padding: 15px 50px;
	border-bottom: 1px solid var(--light-grey);
	background: var(--white);
}
.logo {
	display: flex;
	align-items: center;
	gap: 10px;
}
.logo_styles {
	font-size: 28px;
	font-weight: 500;
	color: var(--black);
}
.logo_styles span {
	color: var(--light-grey)
}
.menu {
	display: flex;
	align-items: center;
	gap: 50px;
	font-size: 16px;
	font-weight: 400;
	color: var(--grey);
	transition: all 0.2s ease-in-out;
}
.menu a{
	color: var(--grey);
}

.menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3px;
	cursor: pointer;
}
.menu hr {
	border: none;
	width: 80%;
	height: 2px;
	border-radius: 10px;
	background: var(--green);
}
.cart {
	display: flex;
	align-items: center;
	gap: 45px;
	transition: all 0.2s ease-in-out;
}
.cart img {
	cursor: pointer;
}
.cart button {
	width: 147px;
	height: 52px;
	outline: none;
	border: 1px solid var(--grey);
	color: var(--grey);
	border-radius: 75px;
	font-weight: 400;
	background: var(--white);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	font-size: 14px;
}
.count {
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -27px;
	margin-left: -54px;
	border-radius: 11px;
	font-style: 14px;
	background: var(--green);
	color: var(--black);
}
