@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
	--black: #000;
	--white: #fff;
	--red: #c3073f;
	--red-hover: #b9053b;
	--grey: #141718;
	--light-grey: #6C7275;
	--green: #38CB89;
	--green-hover: #32b77b;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: 'Poppins', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}